* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.top-nav {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;

  background: orange;
  border: 1px black solid;
  overflow: auto;
}

.grey-background {
  background: grey;
}

.top-nav__logo {
  text-align: left;
  display: block; /* Already display block */
  float: left;

  width: 160px;

  background: green;
  color: yellow;
  padding: 1rem;
  border: 0.5rem solid red;
}

.top-nav__buttons {
  float: right;
}
